# Build outputs
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider IDE
.idea/

# MacOS
.DS_Store

# Logs
*.log

# NuGet packages
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

# Others
*.vspscc
*.vssscc
.vs/
*.dbmdl
*.bak
*.swp
*.tmp
*.cache
*.orig

# Test results
TestResults/
*.trx

# Publish outputs
publish/

# Configuration
appsettings.*.json
secrets.json

# dotCover
.idea/.dotCover
