# Build outputs
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Others
*.vspscc
*.vssscc
.vs/
*.dbmdl
*.bak
*.swp
*.tmp
*.cache
*.orig

# Test results
TestResults/
*.trx

# Publish outputs
publish/

# Configuration
appsettings.*.json
secrets.json

*.dll
*.pdb